body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdfbf6;
    color: #333;
    line-height: 1.6;
}


#calendar{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-agenda button{
    
}