*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(50deg, #1a3a50,#000,#1a3a50);
    height: 100vh;
}



.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 75vh;
    width: 85%;
    margin: 100px auto;
    /* background: rgba(0, 0, 0, 0.850); */
}

.container .att{
    width: 90%;
    border-radius: 7px;
    height: 20%;
    /* background: #1a3a50; */
    margin-top: 100px;
    box-shadow: 0.5rem 0.5rem 0.5rem #fff;
}

.container .att h1{
    color: #fff;
    text-align: center;
    padding: 10px;
}

.container .att p{
    color: #fff;
    text-align: center;
    padding: 10px;
}