* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(50deg, #ad9c72, #fff);
    height: 100vh;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: linear-gradient(50deg, #1a3a50, #000, #1a3a50);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: left;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
    text-align: left;
    position: relative;
    padding-bottom: 50px;
    top: 30%;
}

.sidenav a:hover {
    background-color: rgba(0, 0, 0, 0.850);
    padding-top: 50px;
    border-bottom: 5px solid #fff;
}

.sidenav .closebtn:hover {
    background-color: transparent;
    border: none;
    padding: 0;
}

.sidenav .closebtn {
    position: absolute;
    top: 1%;
    right: 25px;
    font-size: 42px;
    margin-left: 50px;
    color: red;
}

.sidenav a i {
    position: absolute;
    margin-top: 15%;
    left: 15%;
}

.sidenav a:last-child {
    border: none;
    padding: 0;
}

.sidenav img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.sidenav img:hover {
    cursor: pointer;
    transform: scale(1.5);
    left: 30%;
    transition: 0.5s;
}

.sidenav .title {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
    width: 100%;
}

#menuBtn {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    top: 15px;
    left: 15px;
    color: #fff;
}


.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    padding: 50px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
}


#configForm {
    display: flex;
    flex-direction: column;
}

#configForm label {
    margin-top: 10px;
}

#configForm input[type="text"],
#configForm input[type="file"] {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

#configForm button {
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #130c7e;
    color: white;
    cursor: pointer;
}

#configForm button:hover {
    background-color: #110d42;
}
