<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="fromPessoas.js"></script>
    <title>teste</title>
</head>
<body>
    
    
    <button onclick="openFormsPacientes()">pacientes</button>
    <button onclick="openFormsPsicologos()">psicologos</button>
    <button onclick="clearForms()">limpar</button>
    
    <section class="summerFroms">
                <p>Olá</p>
    </section >

</body>
</html>